<div class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <h1>TIY Sports</h1>
            <p><h6><span class="glyphicon glyphicon-heart"></span> For the students of The Iron Yard</h6></p>
        </div>
        <div class="col-md-5"></div>
        <img class="col-md-2 img-circle img-responsive" src="~/Content/sports.jpg" />
    </div>
</div>
<div class="container-fluid">
    <div class="thumbnail col-md-3">
        <img class="" src="~/Content/football.jpg" />
        <p class="text-center"><b>Football</b></p>
    </div>
    <div class="thumbnail col-md-3">
        <img src="~/Content/baseball.jpg" />
        <p class="text-center"><b>Baseball</b></p>
    </div>
    <div class="thumbnail col-md-3">
        <img src="~/Content/basketball.jpg" />
        <p class="text-center"><b>Basketball</b></p>
    </div>
    <div class="thumbnail col-md-3">
        <img src="~/Content/quidditch.jpg" />
        <p class="text-center"><b>Quidditch</b></p>
    </div>
</div>
<div class="alert alert-warning">We've added some new features in version 2.0! <a><small>Learn More</small></a></div>
<div class="container-fluid well">
    <div class="col-md-3"><small><span class="glyphicon glyphicon-user"></span> Please <b>log in</b> to edit</small></div>
    <div class="col-md-7"></div>
    <div class="col-md-2"><button class="btn btn-primary"><b><large>f</large></b> Facebook</button></div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading container-fluid">
        <div class="col-md-11">
            <span class="glyphicon glyphicon-chevron-right"></span>
            Teams
        </div>
        <div class="col-md-1">
            <span class="label label-default text-right">317 Teams</span>
        </div>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item container-fluid">
                <img class="col-md-1 img-rounded" src="~/Content/dartboard.png" />
                <div class="col-md-10">
                    <h5><b>Tampa Dart Dynamos</b></h5>
                    <p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small></p>
                </div>
                <span class="label label-default text-right ">8 Players</span>
            </li>
            <li class="list-group-item container-fluid">
                <img class="col-md-1 img-responsive img-rounded" src="~/Content/pingpong.jpg" />
                <div class="col-md-11">
                    <h5><b>St Pete Ping Pong Power House</b></h5>
                    <p><small>Ut enim ad minim veniam, quis nostrud exercitation uliamco laboris nisi ut aliquip ex ea commodo consequat.</small></p>
                </div>
            </li>
            <li class="list-group-item container-fluid">
                <img class="col-md-1 img-rounded" src="~/Content/golf.jpg" />
                <div class="col-md-11">
                    <div><h5><b>Orlando Golf Gang</b></h5></div>
                    <p><small>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fuglat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt molit anim id est laborum.</small></p>
                </div>
            </li>
        </ul>
        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li class="active"><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
