<div class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <h1 >TIY Sports</h1>
            <p><h6><span class="glyphicon glyphicon-heart"></span> For the students of The Iron Yard</h6></p>
        </div>
        <div class="col-md-5"></div>
        <img class="col-md-2 img-circle img-responsive" src="~/Content/sports.jpg" />
    </div>
</div>

