<div class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <h1>TIY Sports</h1>
            <p><h6><span class="glyphicon glyphicon-heart"></span> For the students of The Iron Yard</h6></p>
        </div>
        <div class="col-md-5"></div>
        <img class="col-md-2 img-circle img-responsive" src="~/Content/sports.jpg" />
    </div>
</div>
<div class="container-fluid">
    <div class="thumbnail col-md-3">
        <img class="" src="~/Content/football.jpg" />
        <p class="text-center"><b>Football</b></p>
    </div>
    <div class="thumbnail col-md-3">
        <img src="~/Content/baseball.jpg" />
        <p class="text-center"><b>Baseball</b></p>
    </div>
    <div class="thumbnail col-md-3">
        <img src="~/Content/basketball.jpg" />
        <p class="text-center"><b>Basketball</b></p>
    </div>
    <div class="thumbnail col-md-3">
        <img src="~/Content/quidditch.jpg" />
        <p class="text-center"><b>Quidditch</b></p>
    </div>
</div>
<div class="alert alert-warning">We've added some new features in version 2.0! <a><small>Learn More</small></a></div>
<div class="container-fluid well">
    <div class="col-md-3"><small><span class="glyphicon glyphicon-user"></span> Please <b>log in</b> to edit</small></div>
    <div class="col-md-7"></div>
    <div class="col-md-2"><button class="btn btn-primary"><b><large>f</large></b> Facebook</button></div>
</div>